/*
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */

.left {
  float: left;
  width: 60%;
}

.right {
  float: right;
  width: 35%;
}

.header {
  margin-bottom: 40px;
}

input[type="text"], textarea {
  width: 300px;
}

textarea {
  height: 200px;
}

img {
  max-width: 300px;
}